section {
  padding-top: 1rem;
}
.jumbotron {
  padding: 3rem;
  background-color: #f0e5a6;
}

#hobi {
  padding-top: 2px;
  background-color: #f0e5a6;
}

#kontak {
  padding-bottom: 3rem;
}
.card {
  min-height: 520px;
}
